* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: monospace;
  background: #585757;
  padding-top: 50px;
  color: white;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
.choices {
  margin-top: 80px;
}
.btn {
  padding: 10px 20px;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background: #e92929;
  color: white;
  border-radius: 8px;
}
.btn:hover {
  background: #7e1010;
}
#content {
  margin-top: 20px;
}
#content h2,
h2,
h1 {
  margin-top: 10px;
  padding: 12px;
}
