* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: "Times New Roman", Times, serif;
  background-color: #000000;
}

#container {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 14px;
}
h1 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
}
#heading,
#content,
#btns {
  display: flex;
  justify-content: space-between;
}
#heading {
  padding: 12px 14px;
}
#heading p {
  font-size: 40px;
  font-weight: 400;
}
span {
  font-size: 25px;
  justify-self: center;
  align-self: center;
  margin: 0;
  padding: 5px 10px;
}
#content {
  margin-top: 10px;
  padding: 12px 14px;
}

#content input {
  border: none;
  font-size: 50px;
  font-weight: 500;
  width: 90px;
  height: 50px;
  text-align: center;
}
#btns {
  padding: 5px;
}
button {
  width: 48%;
  height: 50px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
#btn-start {
  background-color: green;
}
#btn-stop {
  background-color: red;
  display: none;
}
#btn-reset {
  background-color: orangered;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
