* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: #0f0f0f;
  color: #e0e0e0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
h1 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 1px;
}
form {
  background: #1a1a1a;
  padding: 10px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 7px;
  background: #262626;
  border: 1px solid #444;
  border-radius: 8px;
  color: #e0e0e0;
  outline: none;
  font-size: 20px;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #7f5eff;
  box-shadow: 0 0 6px #7f5eff;
}
textarea {
  height: 120px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #5e5c5c;
}

label {
  margin-top: 10px;
  font-size: 20px;
  color: #cccccc;
}
#btn {
  background-color: teal;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
#btn:active {
  transform: scale(0.9);
}
.error {
  color: rgb(255, 88, 88);
  font-size: 14px;
  margin: 4px 0 8px 0;
  height: 15px;
}
