* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #1f1c2c, #928dab);
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  height: 300px;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background: linear-gradient(220deg, #527c21, #48d823);
}
h2 {
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}
#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
#clock h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
}
span {
  font-size: 40px;
}
