* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 14px;
  margin: 12px;
  padding: 12px;
}
#container h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}
#buttons {
  padding: 10px 12px;
}
button {
  text-align: center;
  width: 100%;
  font-size: 30px;
  padding: 10 12px;
  margin-top: 50px;
  border: none;
  background-color: rgb(22, 141, 141);
  color: white;
  border-radius: 12px;
  cursor: pointer;
}
#content {
  height: 200px;
  width: 100%;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
#content img {
  width: 100px;
  height: 100px;
  transition: transform 0.2s ease;
}
#content img.animate {
  transform: rotate(360deg);
}
#content p {
  color: rgb(36, 204, 36);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
