* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #000000, #0f2027, #203a43, #2c5364);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
#container {
  height: 300px;
  width: 400px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.3);
  border-radius: 15px;
}
h1 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 36px;
}
input {
  font-size: 40px;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  background: transparent;
  border: none;
  color: white;
  box-shadow: inset 2px 2px 5px #000, inset -2px -2px 5px #333;
}
#content {
  font-size: 20px;
}
span {
  color: white;
}
#container button {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 12px;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(145deg, #28a745, #1e7e34);
  box-shadow: 3px 3px 8px #000, -3px -3px 8px #3a6073;
}

small {
  display: none;
  margin-top: 10px;
}
