* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html,
body {
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  margin-bottom: 10px;
}
.balance {
  text-align: center;
  background: #0095dd;
  color: #f6f8fa;
  border-radius: 8px;
  padding-top: 5px;
}
.balance h1 {
  margin: 0;
  font-style: 2.5rem;
}
.incomeExpense {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.income,
.expense {
  flex: 1;
  text-align: center;
}
.money {
  font-size: 1.5rem;
  margin: 5px 0;
}
.Plus {
  color: #55dd77;
  font-weight: bold;
}
.Minus {
  color: red;
  font-weight: bold;
}
.list {
  list-style: none;
  padding: 0;
  max-height: 120px;
  overflow-y: scroll;
}
.list li {
  background-color: #f6f6f6;
  margin: 10px 0;
  padding: 10px;
  border-right: 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formControl {
  margin-bottom: 10px;
}
.formControl label {
  display: block;
  margin-bottom: 5px;
}
.formControl input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#btn {
  width: 100%;
  padding: 10px;
  background-color: #0095dd;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: 0.1s;
}
#btn:hover {
  background-color: #0097bb;
}
#btn:active {
  transform: scale(0.9);
}
.delete {
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
}
.list .plus {
  border-color: #2ecc71;
}
.list .minus {
  border-color: #c0392b;
}
