* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  color: white;
}
#SearchBox {
  margin-top: 30px;
  text-align: center;
}
#searchInput {
  font-size: 20px;
  padding: 10px 14px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #333;
  color: white;
  background-color: #1b1b1b;
}
#searchInput:focus {
  border-color: #6a00ff;
}
#cards {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.card {
  width: 260px;
  height: 360px;
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 8px #000;
  transition: 0.4s;
}
.card:hover {
  transform: scale(1.03);
}
.card-img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}
.card-content {
  padding: 10px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 6px;
  color: #e4e4e4;
}
.card-bio {
  color: #aaa;
  font-size: 15px;
}
