* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  min-height: 100vh;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  /* margin-bottom: 20px; */
  font-family: monospace;
}
h1 span {
  color: #00a388;
  font-weight: 800;
}
.inputBox {
  display: flex;
  gap: 10px;
  /* margin-bottom: 30px; */
}
.inputBox input {
  font-size: 16px;
  padding: 12px 18px;
  border-radius: 25px;
  background-color: #2c2c2c;
  border: 2px solid #3a3a3a;
  color: white;
  outline: none;
  transition: all 0.3s ease;
}
.inputBox input:focus {
  border-color: #00a388;
  box-shadow: 0 0 8px rgba(0, 163, 136, 0.5);
}
.inputBox input::placeholder {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: 300;
}
#btn {
  background-color: #00a388;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
#btn:hover {
  background-color: #00a388;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#btn:active {
  transform: scale(0.9);
}
.card {
  min-height: 400px;
  width: 350px;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #e0e0e0;
  background: linear-gradient(145deg, #222222, #1a1a1a);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5),
    0 0 0 1px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
}
.card img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00a388;
  box-shadow: 0 0 10px rgba(0, 163, 136, 0.8);
}
.card .content {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
.card .content p {
  margin-bottom: 8px;
  text-align: left;
  padding-left: 10px;
}
.card .content span {
  font-weight: 500;
  color: #ffffff;
}
#GithubBtn {
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background-color: #00a388;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}
#GithubBtn:hover {
  background-color: #007a65;
}
