@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
}

button {
  font-size: 24px;
  padding: 12px 14px;
  font-weight: 400;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background-color: rgb(223, 39, 140);
  color: white;
}
