* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363535;
  color: #ffffff;
}
.container {
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  background: #000;
  box-shadow: 8px 8px 4px #909090, 8px 8px 0px #575757;
}
.container h1 {
  font-size: 34px;
  margin-block: 8px;
}
.passBox {
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  font-size: 20px;
  margin-block: 8px;
}
.row{
    display: flex;
    margin-block: 8px; /* for top and right*/
}
.row p,.row label{
    flex-basis: 100%;
    font-size: 18px;
}
.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.btn{
    border: none;
    outline: none;
    background-color: teal;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}
.btn:active{
    transform: scale(0.9);
}